*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-dark: rgb(13,17,19);
  --clr-light: #fff;
  --clr-accent: rgb(222,52,0);
  --clr-accent-dark: rgb(163,38,0);
  --clr-secondary: rgb(0,62,163);

  --br: .5em;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: var(--clr-dark);
  color: var(--clr-light);
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  max-width: 100%;
}

.game {
  position: relative;
  width: 12.5em;
}

.streamers {
  display: flex;

  img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
  }
}

.rank {
  position: absolute;
  top: 0;
  right: 1em;
  font-weight: bold;
  font-size: 1.125rem;
  background: rgba(0,0,0,.65);
  padding: .5em .5em .75em;
  clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0 100%, 0 0);
}

.front {
  transition: 250ms;
  .thumbnail {
    border-radius: var(--br);
  }

  .name {
    margin: 0.75em 0;
  }

  .stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .streamers img {
    border: 2px solid var(--clr-dark);

    &:nth-of-type(1) {
      //translate creates new stacking context so lets use z-index
      transform: translateX(50%);
      z-index: 1;
    }

    &:nth-of-type(2) {
      transform: translateX(25%);
    }   
  }

}


.back {
  display: none;
}

.background {
  background: #234;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transform: scale(.2 , .9);
  opacity: 0;
  border-radius: var(--br);
}

.game:hover{
  .front {
    //translateY is up & down/vertical axis
    //scale makes it shrink as it comes up when you hover
    transform: translateY(-30%) scale(.8);

    .streamers {
      opacity: 0;
    }
  }

  .background {
    transition: 
      transform 200ms cubic-bezier(.21, 1.00, .81, 1.00),
      opacity 100ms linear;
    opacity: 1;
    //shorter than it is tall
    transform: scale(1.4, 1.2);
  }
}